<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252547456849-kbpui7gup546mom70bmn00kk1fk8nkq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252547456849-kbpui7gup546mom70bmn00kk1fk8nkq1</string>
	<key>API_KEY</key>
	<string>AIzaSyAy-GWznEPBzy-bqvGqjgy3ak45JtNCSVY</string>
	<key>GCM_SENDER_ID</key>
	<string>252547456849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tolgahan.ShoppingApp</string>
	<key>PROJECT_ID</key>
	<string>shopping-17095</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-17095.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252547456849:ios:0588d78b24362057f73d70</string>
</dict>
</plist>